{% extends 'base.html.twig' %}

{% block title %}
    {{ 'title.piece_list'|trans }}
{% endblock %}

{% block body %}
    <h1>{{ 'title.piece_list'|trans }} <button class="btn-learn-more" id="info-show-hide" title="{{ 'action.learn_more'|trans }}" aria-label="{{ 'action.learn_more'|trans }}"><i class="fa-solid fa-circle-question"></i></button></h1>
    <div class="image-wrapper hidden" id="info-box-hideable">
        <div class="image-wrapper__content image-wrapper--pieces">
            <img src="{{ asset('images/undraw_quick_chat.svg') }}" alt="{{ 'image.quick_chat'|trans }}"
                 class="image--medium">
            <p>{{ 'info.pieces'|trans }}</p>
        </div>
    </div>
    <a class="btn btn-primary btn-lg" href="{{ url('piece_create') }}">{{ 'action.add_piece'|trans }} <i class="fa-solid fa-plus"></i></a>
    {% include 'default/_pieces_list.html.twig' with {
        pagination: pagination
    } %}
{% endblock %}