{% extends 'base.html.twig' %}

{% block title %}
    {{ 'title.canon_details'|trans({'%name%': canon.name|default('')}) }}
{% endblock %}

{% block body %}
    <h1>{{ 'title.canon_details'|trans({'%name%': canon.name|default('')}) }}</h1>
    {% if canon is defined and canon|length %}
        <dl class="dl-horizontal">
            <dt>{{ 'label.id'|trans }}</dt>
            <dd>#{{ canon.id }}</dd>
            <dt>{{ 'label.canon_name'|trans }}</dt>
            <dd>{{ canon.name }}</dd>
            <dt>{{ 'label.canon_description'|trans }}</dt>
            <dd>{{ canon.description }}</dd>
            <dt>{{ 'label.created_at'|trans }}</dt>
            <dd>{{ canon.createdAt|format_datetime('short', 'short', locale=app.request.locale) }}</dd>
            <dt>{{ 'label.updated_at'|trans }}</dt>
            <dd>{{ canon.updatedAt|format_datetime('short', 'short', locale=app.request.locale) }}</dd>
            <dt>{{ 'label.canon_author'|trans }}</dt>
            <dd><a href="{{ url('user_show', {slug: canon.author.slug }) }}">{{ canon.author.name }}</a></dd>
            <dt>{{ 'label.actions'|trans }}</dt>
            <dd>
                {% if is_granted('EDIT', canon) %}
                    <a href="{{ url('canon_edit', {slug: canon.slug}) }}" title="{{ 'action.edit'|trans }}">
                        {{ 'action.edit'|trans }}
                    </a>
                {% endif %}
                {% if is_granted('DELETE', canon) %}
                    <a href="{{ url('canon_delete', {slug: canon.slug}) }}" title="{{ 'action.delete'|trans }}">
                        {{ 'action.delete'|trans }}
                    </a>
                {% endif %}
            </dd>
        </dl>
        <p>
            <a href="{{ url('canon_index') }}" title="{{ 'action.back_to_list'|trans }}">
                {{ 'action.back_to_list'|trans }}
            </a>
        </p>

        {% include 'default/_pieces_list.html.twig' with {
            pagination: pagination,
        } %}

    {% else %}
        <p>
            {{ 'message.item_not_found'|trans }}
        </p>
    {% endif %}
{% endblock %}