{% extends 'base.html.twig' %}

{% block title %}
    {{ 'title.scale_details'|trans({'%id%': scale.id|default('')}) }}
{% endblock %}

{% block body %}
    <h1>{{ 'title.scale_details'|trans({'%id%': scale.id|default('')}) }}</h1>
    {% if scale is defined and scale|length %}
        <dl class="dl-horizontal">
            <dt>{{ 'label.id'|trans }}</dt>
            <dd>#{{ scale.id }}</dd>
            <dt>{{ 'label.scale_name'|trans }}</dt>
            <dd>{{ scale.name }}</dd>
        </dl>

        {% include 'default/_pieces_list.html.twig' with {
            pagination: pagination,
        } %}

        <p>
            <a href="{{ url('scale_index') }}" title="{{ 'action.back_to_list'|trans }}">
                {{ 'action.back_to_list'|trans }}
            </a>
        </p>
    {% else %}
        <p>
            {{ 'message.item_not_found'|trans }}
        </p>
    {% endif %}
{% endblock %}