{% extends 'base.html.twig' %}

{% block title %}
    {{ 'title.scale_details'|trans({'%id%': scale.id|default('')}) }}
{% endblock %}

{% block body %}
    <h1>{{ 'title.scale_details'|trans({'%id%': scale.id|default('')}) }}</h1>
    {% if scale is defined and scale|length %}
        <dl class="dl-horizontal">
            <dt>{{ 'label.id'|trans }}</dt>
            <dd>#{{ scale.id }}</dd>
            <dt>{{ 'label.scale_name'|trans }}</dt>
            <dd>{{ scale.name }}</dd>
        </dl>

        {% if pagination is defined and pagination.items|length %}

            <div class="navigation text-center">
                {{ knp_pagination_render(pagination) }}
            </div>
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>{{ knp_pagination_sortable(pagination, 'label.id'|trans, 'piece.id') }}</th>
                    <th>{{ knp_pagination_sortable(pagination, 'label.piece_name'|trans, 'piece.name') }}</th>
                    <th>{{ knp_pagination_sortable(pagination, 'label.piece_year'|trans, 'piece.year') }}</th>
                    <th>{{ knp_pagination_sortable(pagination, 'label.piece_description'|trans, 'piece.description') }}</th>
                    <th>{{ knp_pagination_sortable(pagination, 'label.piece_link'|trans, 'piece.link') }}</th>
                    <th>{{ knp_pagination_sortable(pagination, 'label.composer'|trans, 'composer.name') }}</th>
                    <th>{{ knp_pagination_sortable(pagination, 'label.created_at'|trans, 'piece.createdAt') }}</th>
                    <th>{{ knp_pagination_sortable(pagination, 'label.updated_at'|trans, 'piece.updatedAt') }}</th>
                    <th>{{ 'label.actions'|trans }}</th>
                </tr>
                </thead>
                <tbody>
                {% for piece in pagination %}
                    <tr>
                        <td>{{ piece.id }}</td>
                        <td>{{ piece.name }}</td>
                        <td>{{ piece.year }}</td>
                        <td>{{ piece.description }}</td>
                        <td><a href="{{ piece.link }}">{{ piece.link }}</a></td>
                        <td><a href="{{ url('composer_show', {slug: piece.composer.slug}) }}">{{ piece.composer.name }} {{ piece.composer.lastName }}</a></td>
                        <td>{{ piece.createdAt|format_datetime('short', 'short', locale=app.request.locale) }}</td>
                        <td>{{ piece.updatedAt|format_datetime('short', 'short', locale=app.request.locale) }}</td>

                        <td>
                            <a href="{{ url('piece_show', {slug: piece.slug}) }}" title="{{ 'action.view'|trans }}">
                                {{ 'action.view'|trans }}
                            </a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>

            <div class="navigation text-center">
                {{ knp_pagination_render(pagination) }}
            </div>
        {% else %}
            <p>
                {{ 'message.empty_list'|trans }}
            </p>
        {% endif %}

        <p>
            <a href="{{ url('scale_index') }}" title="{{ 'action.back_to_list'|trans }}">
                {{ 'action.back_to_list'|trans }}
            </a>
        </p>
    {% else %}
        <p>
            {{ 'message.item_not_found'|trans }}
        </p>
    {% endif %}
{% endblock %}