{% extends 'base.html.twig' %}

{% block title %}
    {{ 'title.user_details'|trans({'%name%': user.name|default('')}) }}
{% endblock %}

{% block body %}
    <h1 class="underline-header">{{ 'title.user_details'|trans({'%name%': user.name|default('')}) }}</h1>
    <div class="user-container">

        {% if user is defined and user|length %}
        <div class="user-container__text">
            {% if form is defined %}

                {{ form_start(form) }}
                {% if false == form.vars.valid %}
                    {% include 'default/_single_alert_message.html.twig' with {
                        type: 'danger',
                        message: 'message.form_error'|trans,
                    } %}
                {% endif %}
                {% if user in app.user.friends %}
                    <div class="button-friend button-friend__remove">
                        {{ form_widget(form.save, {'label': 'action.remove_friend'}) }}
                    </div>
                {% else %}
                    <div class="button-friend button-friend__add">
                        {{ form_widget(form.save, {'label': 'action.add_friend'}) }}
                    </div>
                {% endif %}
                {{ form_end(form) }}

            {% endif %}
            {% if user is defined and user==app.user %}
                <a class="btn btn-primary btn-lg"
                   href="{{ url('user_edit', {slug: user.slug}) }}">{{ 'action.edit_user_data'|trans }}
                    <i class="fa-solid fa-user-pen"></i></a>
            {% endif %}

            <dl class="dl-horizontal">
                <dt>{{ 'label.user_level'|trans }}</dt>
                <dd>{{ user.level }}</dd>
                <dt>{{ 'label.user_experience'|trans }}</dt>
                <dd>
                    {{ user.experience }}/{{ (user.level) ** 2 * 50 }}
                </dd>
                <dt>{{ 'label.registered_at'|trans }}</dt>
                <dd>{{ user.createdAt|format_datetime('short', 'short', locale=app.request.locale) }}</dd>
            </dl>
            {% endif %}

            {% include 'default/_user_basic_info.html.twig' with {
                user: user
            } %}

        </div>
        <div class="user-container__image">
            {% if user is defined and user==app.user %}
            <a href="{{ url('user_image', {slug: user.slug}) }}">
                {% endif %}
                <img class="user-image user-image--big"
                     src="{{ asset('images/avatars/' ~ user.image) ~ '.jpg' }}"
                     alt="{{ 'label.user_image'|trans({'%name%': user.name|default('')}) }}">
                {% if user is defined and user==app.user %}
                <div class="user-image--editable"><p>{{ 'action.change_image'|trans }} <i class="fa-solid fa-brush"></i>
                    </p></div>
            </a>
            {% endif %}
        </div>
    </div>

    {% if user is defined and user|length %}
        <div class="friends-container">
            <div class="friends-container--element friends-container--element__my-friends">
                <h2>
                    {{ 'label.friends'|trans }}
                </h2>
                <div class="friends">
                    {% if user.friends is defined and user.friends|length %}

                        {% for friend in user.friends %}
                            <div class="friend-container">
                                <a href="{{ url('user_show', {slug: friend.slug}) }}"
                                   title="{{ 'action.view'|trans }}">
                                    <img class="user-image user-image--small"
                                         src="{{ asset('images/avatars/' ~ friend.image) ~ '.jpg' }}"
                                         alt="{{ 'label.user_image'|trans({'%name%': user.name|default('')}) }}">
                                    {{ friend.name }}
                                </a>
                            </div>
                        {% endfor %}
                    {% else %}
                        <p>-</p>
                    {% endif %}
                </div>

            </div>
            <div class="friends-container--element friends-container--element__friends-with-me">
                <h2>
                    {{ 'label.friends_with_me'|trans }}
                </h2>
                <div class="friends">
                    {% if user.friendsWithMe is defined and user.friendsWithMe|length %}
                            {% for friend in user.friendsWithMe %}
                                <div class="friend-container">
                                    <a href="{{ url('user_show', {slug: friend.slug}) }}"
                                       title="{{ 'action.view'|trans }}">
                                        <img class="user-image user-image--small"
                                             src="{{ asset('images/avatars/' ~ friend.image) ~ '.jpg' }}"
                                             alt="{{ 'label.user_image'|trans({'%name%': user.name|default('')}) }}">
                                        {{ friend.name }}
                                    </a>
                                </div>
                            {% endfor %}
                    {% else %}
                        <p>-</p>
                    {% endif %}
                </div>
            </div>
        </div>
    {% endif %}


{% endblock %}