{#
Users list template

parameters:
    - pagination: Pagination with items list
#}
{% if pagination is defined and pagination.items|length %}
    <div class="navigation text-center">
        {{ knp_pagination_render(pagination) }}
    </div>

    <table class="table table-striped">
        <thead>
        <tr>
            <th>{{ 'label.user_place'|trans }}</th>
            <th>{{ knp_pagination_sortable(pagination, 'label.user_name'|trans, 'user.name') }}</th>
            <th>{{ knp_pagination_sortable(pagination, 'label.user_level'|trans, 'user.level') }}</th>
            <th>{{ knp_pagination_sortable(pagination, 'label.user_roles'|trans, 'user.roles') }}</th>
            <th>{{ knp_pagination_sortable(pagination, 'label.registered_at'|trans, 'user.createdAt') }}</th>
            <th>{{ 'label.actions'|trans }}</th>
        </tr>
        </thead>
        <tbody>
        {% for user in pagination.items %}
            <tr>
                <td>{{ loop.index }}</td>
                <td>
                    <img class="user-image user-image--small"
                         src="{{ asset('images/avatars/' ~ user.image) ~ '.jpg' }}"
                         alt="{{ 'label.user_image'|trans({'%name%': user.name|default('')}) }}">
                    {{ user.name }}
                </td>
                <td>{{ user.level }}</td>
                <td>
                    {% if 'ROLE_ADMIN' in user.roles %}
                        <span class="role role--admin">
                                {{ 'role.admin'|trans }}
                            </span>
                    {% else %}
                        <span class="role role--user">
                                {{ 'role.user'|trans }}
                            </span>
                    {% endif %}
                </td>


                <td>{{ user.createdAt|format_datetime('short', 'short', locale=app.request.locale) }}</td>

                <td>
                    <a href="{{ url('user_show', {slug: user.slug}) }}" title="{{ 'action.view'|trans }}">
                        {{ 'action.view'|trans }}
                    </a>
                    {#                        <a href="{{ url('user_edit', {slug: user.slug}) }}" title="{{ 'action.edit'|trans }}">#}
                    {#                            {{ 'action.edit'|trans }}#}
                    {#                        </a>#}
                    {#                        <a href="{{ url('user_delete', {slug: user.slug}) }}" title="{{ 'action.delete'|trans }}">#}
                    {#                            {{ 'action.delete'|trans }}#}
                    {#                        </a>#}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <div class="navigation text-center">
        {{ knp_pagination_render(pagination) }}
    </div>


{% else %}
    <p>
        {{ 'message.empty_list'|trans }}
    </p>
{% endif %}