{% extends 'base.html.twig' %}

{% block title %}{{ 'title.reset_password_email_sent'|trans }}{% endblock %}

{% block body %}
    <p>
        {{ 'title.reset_password_email_sent'|trans }}
        {{ 'message.mail_expires_in'|trans }} {{ resetToken.expirationMessageKey|trans(resetToken.expirationMessageData, 'ResetPasswordBundle') }}.
    </p>
    <p>{{ 'message.check_spam_or'|trans }} <a href="{{ path('app_forgot_password_request') }}">{{ 'action.try_again'|trans }}</a>.</p>
{% endblock %}
