{% extends 'base.html.twig' %}

{% block title %}{{ 'title.reset_password'|trans }}{% endblock %}

{% block body %}
    {% for flash_error in app.flashes('reset_password_error') %}
        <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
    {% endfor %}
    <h1>{{ 'title.reset_password'|trans }}</h1>

    {{ form_start(requestForm) }}
        {{ form_row(requestForm.email) }}
        <div>
            <small>
                {{ 'message.enter_your_email'|trans }}
            </small>
        </div>

        <button class="btn btn-primary">{{ 'action.send'|trans }}</button>
    {{ form_end(requestForm) }}
{% endblock %}
