{% extends 'base.html.twig' %}

{% block title %}
    {{ 'title.composer_details'|trans({'%name%': composer.name|default('')}) }}
{% endblock %}

{% block body %}
    <h1>{{ 'title.composer_details'|trans({'%name%': composer.name|default('') ~ ' ' ~ composer.lastName|default('')}) }}</h1>
    {% if composer is defined and composer|length %}
        <dl class="dl-horizontal">
            <dt>{{ 'label.id'|trans }}</dt>
            <dd>#{{ composer.id }}</dd>
            <dt>{{ 'label.composer_period'|trans }}</dt>
            <dd><a href="{{ url('period_show', {slug: composer.period.slug}) }}">{{ composer.period.name|trans }}</a></dd>
            <dt>{{ 'label.composer_birth_year'|trans }}</dt>
            <dd>{{ composer.birthYear }}</dd>
            <dt>{{ 'label.composer_death_year'|trans }}</dt>
            <dd>{{ composer.deathYear }}</dd>
            <dt>{{ 'label.composer_description'|trans }}</dt>
            <dd>{{ composer.description }}</dd>
            <dt>{{ 'label.created_at'|trans }}</dt>
            <dd>{{ composer.createdAt|format_datetime('short', 'short', locale=app.request.locale) }}</dd>
            <dt>{{ 'label.updated_at'|trans }}</dt>
            <dd>{{ composer.updatedAt|format_datetime('short', 'short', locale=app.request.locale) }}</dd>
            <dt>{{ 'label.actions'|trans }}</dt>
            <dd>
                {% if is_granted('EDIT', composer) %}
                    <a href="{{ url('composer_edit', {slug: composer.slug}) }}" title="{{ 'action.edit'|trans }}">
                        <i class="fa-solid fa-pen-to-square"></i>
                    </a>
                {% endif %}
                {% if is_granted('DELETE', composer) %}
                    <a href="{{ url('composer_delete', {slug: composer.slug}) }}" title="{{ 'action.delete'|trans }}">
                        <i class="fa-solid fa-trash-can"></i>
                    </a>
                {% endif %}
            </dd>
            <dt>{{ 'label.composer_author'|trans }}</dt>
            <dd><a href="{{ url('user_show', {slug: composer.author.slug}) }}">{{ composer.author.name }}</a></dd>
            <dt>{{ 'label.composer_edited_by'|trans }}</dt>
            <dd><a href="{{ url('user_show', {slug: composer.editedBy.slug}) }}">{{ composer.editedBy.name }}</a></dd>
        </dl>

        {% include 'default/_pieces_list.html.twig' with {
            pagination: pagination
        } %}

        <p>
            <a href="{{ url('composer_index') }}" title="{{ 'action.back_to_list'|trans }}">
                {{ 'action.back_to_list'|trans }}
            </a>
        </p>
    {% else %}
        <p>
            {{ 'message.item_not_found'|trans }}
        </p>
    {% endif %}
{% endblock %}